footer {
  color: #f1f1f1;
  padding: 0 11%;

  i,
  a {
    color: #f1f1f1;
  }

  .footer-right {
    text-align: right;
    color: #f1f1f1;
  }

  .copyright {
    text-align: center;
    margin-top: 50px;
  }
}
