body {
  background-color: #6b6e69;
}

h1 {
  font-family: font(primary);
}

.single-product #page {
  padding: 0 10%;

  #sidebar {
    display: none;
  }
}

.container {
  padding: 0 10% 2%;
  max-width: 1600px;
}

.hero img {
  max-height: 300px;
  margin: 0 auto;
  overflow: hidden;
}

.blog-image {
  max-width: 30%;
}

.woocommerce-MyAccount-navigation ul li {
  list-style-type: none;
}

.woocommerce-MyAccount-content,
.cart-empty p {
  color: #f1f1f1;
}

